*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #000;
}
.box {
    position: relative;
    width: 1000px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./Begzod.jpg);
    flex-direction: column;
}

.box .header{
    font-size: 33px;
    color: white;
    text-shadow: 0 0 10px green,
    0 0 20px green,
    0 0 40px green,
    0 0 80px green,
    0 0 120px green;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    text-shadow: 0 0 10px green,
    0 0 20px green,
    0 0 40px green,
    0 0 80px green,
    0 0 120px green;
}
.box .head{
    font-size: 10px;
    color: white;
    text-shadow: 0 0 10px rgb(0, 255, 213),
    0 0 20px rgb(0, 255, 213),
    0 0 40px rgb(0, 255, 213),
    0 0 80px rgb(0, 255, 213),
    0 0 120px rgb(0, 255, 213);
}
.box .head2{
    font-size: 12px;
    color: white;
    text-shadow: 0 0 10px rgb(0, 102, 255),
    0 0 20px rgb(0, 102, 255),
    0 0 40px rgb(0, 102, 255),
    0 0 80px rgb(0, 102, 255),
    0 0 120px rgb(0, 102, 255);
}
.box .head3{
    font-size: 14px;
    color: white;
    text-shadow: 0 0 10px blueviolet,
    0 0 20px  blueviolet,
    0 0 40px  blueviolet,
    0 0 80px  blueviolet,
    0 0 120px blueviolet;
}
.box .head4{
    font-size: 16px;
    color: white;
    text-shadow: 0 0 10px crimson,
    0 0 20px  crimson,
    0 0 40px  crimson,
    0 0 80px  crimson,
    0 0 120px crimson;
}
.box .head5{
    font-size: 18px;
    color: white;
    text-shadow: 0 0 10px rgb(255, 0, 230),
    0 0 20px  rgb(255, 0, 230),
    0 0 40px  rgb(255, 0, 230),
    0 0 80px  rgb(255, 0, 230),
    0 0 120px rgb(255, 0, 230);
}
.box .head6{
    font-size: 20px;
    color: white;
    text-shadow: 0 0 10px orange,
    0 0 20px  orange,
    0 0 40px  orange,
    0 0 80px  orange,
    0 0 120px orange;
}
.box .head7{
    font-size: 23px;
    color: white;
    text-shadow: 0 0 10px yellowgreen,
    0 0 20px  yellowgreen,
    0 0 40px  yellowgreen,
    0 0 80px  yellowgreen,
    0 0 120px yellowgreen;
}
.box .head8{
    font-size: 25px;
    color: white;
    text-shadow: 0 0 10px blue,
    0 0 20px  blue,
    0 0 40px  blue,
    0 0 80px  blue,
    0 0 120px blue;
}
.box .head9{
    font-size: 28px;
    color: white;
    text-shadow: 0 0 10px red,
    0 0 20px red,
    0 0 40px red,
    0 0 80px red,
    0 0 120px red;
}
.lightbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 0 10px green,
        0 0 20px green,
        0 0 40px green,
        0 0 80px green,
        0 0 120px green;
    animation: animatelightbar 15s linear infinite;
}
@keyframes animatelightbar{

    0% , 5%{
        transform: scaleX(0) translateY(0);
    }
    10%{
        transform: scaleX(1) translateY(0);
    }
    90%{
        transform: scaleX(1) translateY(calc(800px - 
        10px));
    }
    95%,100%{
        transform: scaleX(0) translateY(calc(800px - 
        10px));
    }
    
}
.lightbar2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 0 10px blue,
        0 0 100px blue,
        0 0 200px blue,
        0 0 300px blue,
        0 0 400px blue;
    animation: animatelightbar2 15s  linear infinite;

}

@keyframes animatelightbar2{

    0%,5% {
        transform: scaleY(0) translateX(0);
    }
    10%{
        transform: scaleY(1) translateX(0);
    }
    90%{
        transform: scaleY(1) translateX(calc(1000px - 
        10px));
    }
    95%,100%{
        transform: scaleY(0) translateX(calc(1000px - 
        10px));
    }
}

.toplayer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: animatetoplayer 30s linear infinite;
}
.toplayer1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;

    animation: animatetoplayer1 30s linear infinite;
}
@keyframes animatetoplayer{
    0%,2.5% {
        transform:  translateY(1);
    }
    5%{
        transform:  translateY(0);
    }
    45%{
        transform:  translateY(100%);
    }
    47.5%,50%{
        transform:  translateY(100%);
    }
    50.001%,52.5% {
        transform:  translateY(-100%);
    }
    55%{
        transform:  translateY(-100%);
    }
    95%{
        transform:  translateY(0%);
    }
    97.5%,100%{
        transform:  translateY(0%);
    }
}
@keyframes animatetoplayer1{
    0%,2.5% {
        transform:  translateX(1);
    }
    5%{
        transform:  translateX(0);
    }
    45%{
        transform:  translateX(100%);
    }
    47.5%,50%{
        transform:  translateX(100%);
    }
    50.001%,52.5% {
        transform:  translateX(-100%);
    }
    55%{
        transform:  translateX(-100%);
    }
    95%{
        transform:  translateX(0%);
    }
    97.5%,100%{
        transform:  translateX(0%);
    }
}